:root {
    --primary: #ffb3bf;
    --dark: #b37d8b;
    --light: #ffecf1;
    --faint: #ffecf1;
    --white: #ffffff;
    --grey: #848484;
    --lightgrey: #bcbcbc;
    --darkgrey: #4c4c4c;
}

.landing-container {
    display: flex;
    height: 100vh;
}

.title-box {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.title-text {
    position: relative;
    font-size: clamp(7rem, 2.3333rem + 9.7222vw, 14rem);
    color: var(--darkgrey);
    z-index: 0;
    display: inline-block;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.title-text > .text-block {
    position: absolute;
    width: 140%;
    height: 20%;
    bottom: 20%;
    left: -160%;
    background-color: var(--primary);
    z-index: -1;
    display: inline-block;
    transition: left 2s ease-in-out;
}

.text-block-loaded  {
    left: -30% !important;
}

.subtitle-text {
    position: relative;
    font-size: clamp(0.5rem, -0.5rem + 2.0833vw, 2rem);
    color: var(--grey);
    z-index: 0;
    display: inline-block;
    align-items: center;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.image-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light);
}

.image-image {
    position: relative;
    width: clamp(15rem, 5rem + 20.8333vw, 30rem);
    color: var(--darkgrey);
    z-index: 0;
    margin: 0 15%;
}

.image-image img {
    width: 100%;
    height: auto;
    border: 5px solid var(--dark);
}

.image-itself {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.fully-loaded {
    opacity: 1 !important;
}

.image-image > .image-block {
    position: absolute;
    width: 75%;
    height: 20%;
    right: -120%;
    bottom: -10%;
    background-color: var(--primary);
    z-index: -1;
    transition: right 2s ease-in-out;
}

.image-block-loaded {
    right: -10% !important;
}

.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    -ms-flex: 25%;
    flex: 24%; /* Not 25% because 4 0.5% padding */
    padding: 0 0.5%;
}

.column-image {
    position: relative;
    overflow: hidden;
    margin-top: 4%;
}

.column-image img {
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
    transform: scale(1.15);
    transition: transform 0.3s ease-in-out;
    z-index: 0;
}

.column-image:hover img {
    transform: scale(1);
}

.blur {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0;
    max-height: 60px;
    bottom: 0px;
    backdrop-filter: blur(10px) brightness(0.8);
    opacity: 1;
    z-index: 1;
    transition: height 0.5s ease-in-out;
}

.blur > div {
    color: var(--white);
    font-size: clamp(0.75rem, 0.5833rem + 0.3472vw, 1rem);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.blur-person {
    font-weight: 500;
}

.blur-occasion {
    font-weight: 100;
    font-style: italic;
}

.column-image:hover .blur {
    height: 40%;
}

.column-image:hover .blur > div {
    opacity: 1;
}
  

@media (max-width: 768px) {
    .landing-container {
        flex-direction: column;
    }

    .image-image {
        justify-content: center;
        align-items: center;
    }

    .title-text {
        font-size: clamp(5rem, 1.6531rem + 19.4726vw, 11rem);
    }

    .subtitle-text {
        font-size: clamp(0.75rem, 0.3316rem + 2.4341vw, 1.5rem);
    }

    .column {
        -ms-flex: 100%;
        flex: 48%; /* Not 50% because of 2 1% padding */
        padding: 0 1%;
    }

    .blur {
        max-height: 40px;
    }

    .blur > div {
        font-size: clamp(0.5rem, 0.3605rem + 0.8114vw, 0.75rem);
    }

}