.text-underline {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.underline-block {
    position: absolute;
    width: 110%;
    height: var(--underline-height, 20px);
    background-color: var(--pink);
    top: 55%;
    left: 50%;
    transform: translateX(-50%); 
    z-index: -1;
}

.landing-container {
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to top, var(--white), var(--light));
}

.section-header {
    height: 10svh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-text {
    font-size: 35px;
    font-weight: 700;
    color: var(--black);
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
}

.section-text:hover {
    font-size: 37.5px;
    font-weight: 700;
    color: var(--pink);
}

.title-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.title-text {
    position: relative;
    font-size: clamp(7rem, 2.3333rem + 9.7222vw, 14rem);
    color: var(--black);
    z-index: 0;
    display: inline-block;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.title-text > .text-block {
    position: absolute;
    width: 140%;
    height: 20%;
    bottom: 20%;
    left: -160%;
    background-color: var(--pink);
    z-index: -1;
    display: inline-block;
    transition: left 2s ease-in-out;
}

.text-block-loaded  {
    left: -30% !important;
}

.subtitle-text {
    position: relative;
    font-size: clamp(0.5rem, -0.5rem + 2.0833vw, 2rem);
    color: var(--darkgrey);
    z-index: 0;
    display: inline-block;
    align-items: center;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

@media (max-width: 768px) {

    .landing-container {
        flex-direction: column;
    }

    .title-side {
        flex: 0.6;
    }

    .image-image {
        justify-content: center;
        align-items: center;
        top: clamp(-6rem, -8.789rem + 16.2272vw, -1rem);
    }

    .section-text {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--black);
        text-decoration: underline;
        transition: all 0.3s ease-in-out;
    } 

    .section-text:hover {
        font-size: 1.51rem;
        font-weight: 700;
        color: var(--pink);
    }   

    .title-text {
        font-size: clamp(5rem, 1.6531rem + 19.4726vw, 11rem);
    }

    .subtitle-text {
        font-size: clamp(0.75rem, 0.3316rem + 2.4341vw, 1.5rem);
    }

}