.pictures-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
    padding-bottom: 20px;
    background-image: linear-gradient(to bottom, var(--white), var(--light));
}

.column {
    -ms-flex: 25%;
    flex: 24%; /* Not 25% because 4 0.5% padding */
    padding: 0 0.5%;
}

@media (max-width: 768px) {

    .column {
        -ms-flex: 100%;
        flex: 48%; /* Not 50% because of 2 1% padding */
        padding: 0 1%;
    }

    .blur {
        max-height: 40px;
    }

    .blur > div {
        font-size: clamp(0.5rem, 0.3605rem + 0.8114vw, 0.75rem);
    }
    
}